#home-header,#page-header {
  @extend %transition;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: rem-calc(30 0);
  
  &.active {
    background-color: #545353;
  }
}

#chat-btn {
  position:fixed;
  bottom: rem-calc(100);
  right: rem-calc(20);
  z-index: 991;
}