.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-Forma1 {
  width: 24px;
  height: 23px;
  background-position: -5px -5px;
}

.sprite-user-talk {
  width: 57px;
  height: 59px;
  background-position: -39px -5px;
}

.sprite-check {
  width: 49px;
  height: 43px;
  background-position: -106px -5px;
}

.sprite-graphic {
  width: 50px;
  height: 50px;
  background-position: -165px -5px;
}

.sprite-ceo {
  width: 39px;
  height: 46px;
  background-position: -225px -5px;
}

.sprite-calculator {
  width: 36px;
  height: 49px;
  background-position: -274px -5px;
}

.sprite-engine {
  width: 42px;
  height: 42px;
  background-position: -320px -5px;
}

.sprite-user {
  width: 39px;
  height: 47px;
  background-position: -372px -5px;
}

.sprite-folder {
  width: 57px;
  height: 36px;
  background-position: -421px -5px;
}

.sprite-tiny-user {
  width: 26px;
  height: 30px;
  background-position: -488px -5px;
}

.sprite-aviao {
  width: 25px;
  height: 23px;
  background-position: -524px -5px;
}

.sprite-chat-button {
  width: 70px;
  height: 70px;
  background-position: -559px -5px;
}

.sprite-face {
  width: 12px;
  height: 24px;
  background-position: -639px -5px;
}

.sprite-insta {
  width: 26px;
  height: 26px;
  background-position: -661px -5px;
}

.sprite-left {
  width: 51px;
  height: 49px;
  background-position: -697px -5px;
}

.sprite-mala {
  width: 45px;
  height: 36px;
  background-position: -758px -5px;
}

.sprite-right {
  width: 51px;
  height: 49px;
  background-position: -813px -5px;
}

.sprite-seta {
  width: 9px;
  height: 18px;
  background-position: -874px -5px;
}