<section id="top-video" class="small-12 float-left rel">
    <div class="mask"></div>

    <div class="player-video">
        <video preload="auto" autoplay loop>
            <source src="{{ root }}assets/img/clip_web.webm" type='video/webm; codecs="vp8, vorbis"' />
        </video>
    </div>

    <div class="row">

        <article class="small-12 medium-8 columns">
            <h1>
                A <span class="font-bold">Administradora</span> que você precisa<br>
                para o conforto que você <span class="font-bold">merece!</span>
            </h1>

            <p>Atuando em João Pessoa e região, a <strong>Conforte</strong> é uma empresa voltada a prestação de serviços de administração de condomínios formada por profissionais capacitados e comprometidos com a excelência no que se refere à satisfação e bem estar do cliente.</p>
            <br>
            <p>
                <a href="#sobre" title="" class="button go-sobre show-for-medium">Saiba mais!</a>
            </p>
        </article>


        <div class="page-down small-12 medium-8 medium-offset-2 text-center">
            <a href="#testimonials" title="" class="less-opacity tg-testimonials">
                <img src="{{root}}assets/img/down.png" alt="">
            </a>
        </div>

        <div class="social-top small-12 medium-2 show-for-medium">
            <ul class="menu align-right">
                <li><a href="https://www.facebook.com/Conforte-Administra%C3%A7%C3%A3o-de-Condom%C3%ADnios-Ltda-345475862210046/?fref=ts" target="_blank" title="Siga-nos no Facebook"><span class="sprite sprite-face"></span></a></li>
                <li><a href="https://www.instagram.com/confortecondominios/" target="_blank" title="Siga-nos no Instagram"><span class="sprite sprite-insta"></span></a></li>
            </ul>
        </div>
    </div>
</section>