<section id="construtoras" class="small-12 float-left">
    <div class="row align-middle full-height">
        <header class="divider bottom-20 text-center">
            <h1 class="primary-color font-bold no-margin">Construtoras e incorporadoras</h1>
        </header>
        <div class="columns">
            <nav class="small-12 medium-6 columns">
                <ul class="accordion" data-accordion data-allow-all-closed="true">
                    <li class="accordion-item is-active" data-accordion-item>
                        <a hraf="#" class="accordion-title">
                            <span class="float-left">Planejamento de contas</span>
                            <span class="sprite sprite-seta float-right"></span>
                        </a>
                        <div class="accordion-content" data-tab-content>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae dolor ea eius error molestias officia qui voluptate. Eos exercitationem necessitatibus placeat porro qui tempore temporibus. Assumenda ipsa nulla quod.</p>
                        </div>
                    </li>

                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">
                            <span class="float-left">Pré-implantação, implantação e entrega</span>
                            <span class="sprite sprite-seta float-right"></span>
                        </a>
                        <div class="accordion-content" data-tab-content>
                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda blanditiis distinctio dolore dolores ea explicabo iste, maxime minus non perspiciatis, provident quas repellendus rerum sequi vel voluptatem. Exercitationem, sit!</p>
                        </div>
                    </li>

                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">
                            <span class="float-left">Pós-entrega</span>
                            <span class="sprite sprite-seta float-right"></span>
                        </a>
                        <div class="accordion-content" data-tab-content>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda blanditiis distinctio dolore dolores ea explicabo iste, maxime minus non perspiciatis, provident quas repellendus rerum sequi vel voluptatem. Exercitationem, sit!</p>
                        </div>
                    </li>
                </ul>
            </nav>

            <figure class="small-12 medium-6 columns text-right">

                <img src="{{root}}assets/img/pentas.png" alt="">
                
            </figure>

        </div>
    </div>
</section>