<section id="construtoras" class="small-12 float-left" data-magellan-target="construtoras">
    <div class="row align-middle full-height">
        <header class="divider bottom-20 text-center">
            <h1 class="primary-color font-bold no-margin">Construtoras e incorporadoras</h1>
        </header>
        <div class="columns">
            <nav class="small-12 medium-6 columns">
                <ul class="accordion" data-accordion data-allow-all-closed="true">
                    <li class="accordion-item is-active" data-accordion-item>
                        <a hraf="#" class="accordion-title">
                            <span class="float-left">Planejamento de contas</span>
                            <span class="sprite sprite-seta float-right"></span>
                        </a>
                        <div class="accordion-content" data-tab-content>
                            <p>No intuito de agilizar e facilitar o desenvolvimento da implantação do condomínio, a Conforte disponibiliza uma previsão de gastos futuros. Deixando transparente o estudo detalhado das despesas e receitas do futuro empreendimento, apresentando o valor aproximado da taxa condominial. Baseando-se em um levantamento técnico do valor detalhado da taxa condominial, na entrega do empreendimento, demonstrando aos condôminos:
                            </p>
                            <p>
                                1. Prévio orçamento geral do condomínio;<br>
                                2. Detalhamento dos serviços do condomínio;<br>
                                3. Planejamento estrutural e processos administrativos.
                            </p>
                        </div>
                    </li>

                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">
                            <span class="float-left">Pré-implantação, implantação e entrega</span>
                            <span class="sprite sprite-seta float-right"></span>
                        </a>
                        <div class="accordion-content" data-tab-content>
                             <p>Com foco na implantação e procedimento de entrega dos empreendimentos, a Conforte oferece uma moderna assessoria, aliando tecnologia e experiência, com técnicas metodológicas para uma desvinculação tranquila e sem traumas entre construtoras e clientes. Cuidamos desde o início da operação até a realização da primeira assembleia, inclusive respondendo pela instrução inicial, juntamente com preliminar levantamento de possíveis interessados nos cargos administrativos do Condomínio (síndico, subsíndico e conselheiros).
                             </p>
                        </div>
                    </li>

                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">
                            <span class="float-left">Pós-entrega</span>
                            <span class="sprite sprite-seta float-right"></span>
                        </a>
                        <div class="accordion-content" data-tab-content>
                            <p>Devido à ótima implantação e entrega, o suporte posterior se torna muito mais prático. Assim, auxiliamos tanto os construtores, quanto os condôminos, com prévias orientações, condicionando condutas e direcionando energias, intermediando as relações e minimizando conflitos, sempre com intuito de agregar valores, profissionalizando e conferindo padrões a todo processo.
                            </p>
                        </div>
                    </li>
                </ul>
            </nav>

            <figure class="small-12 medium-6 columns text-center">

                <img src="{{root}}assets/img/pentas.png" alt="">
                <div class="divider bottom-20"></div>
                <figcaption class="small-12 float-left text-center">
                    <h4 class="primary-color text-up">empreendimento entregue<br>condomínio bem administrado.</h4>
                </figcaption>
                
            </figure>

        </div>
    </div>
</section>