<section id="contato" class="small-12 float-left" data-magellan-target="contato">
    <div class="row">
        <div class="small-12 columns">
            <header class="divider bottom-30 text-center">
                <h1 class="primary-color font-bold">Contato</h1>
            </header>

            <form id="form-contato" data-abide novalidate>
                <div class="small-12 medium-5 float-left field-group">
                    <p>
                        <label for="nome">Nome</label>
                        <input type="text" name="nome"  id="nome" title="Seu nome" minlength="10" required>
                        <span class="form-error">
                            Campo obrigatório
                        </span>
                    </p>

                    <p>
                        <label for="telefone">Telefone</label>
                        <input type="tel" name="telefone" id="telefone" title="Seu telefone" class="tele" required>
                        <span class="form-error">
                            Campo obrigatório
                        </span>
                    </p>

                    <p>
                        <label for="email">E-mail</label>
                        <input type="text" name="email" id="email" title="Seu email" required>
                        <span class="form-error">
                            Campo obrigatório
                        </span>
                    </p>
                </div>

                <div class="small-12 medium-5 float-right field-group">
                    <p>
                        <label for="mensagem">Mensagem</label>
                        <textarea name="mensagem" cols="30" rows="7" id="mensagem" required></textarea>
                        <span class="form-error">
                            Campo obrigatório
                        </span>
                    </p>
                </div>

                <p class="text-right small-12 float-left">
                    <button type="submit" class="btn-glass radius no-margin">Enviar</button>
                </p>
            </form>
        </div>
    </div>

    <div id="map" class="small-12 float-left">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.125846319818!2d-34.85549404917129!3d-7.111411671682842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7acdd5b6e636ef3%3A0x2f9eb04d08de4019!2sConforte+Administra%C3%A7%C3%A3o+de+Condom%C3%ADnios!5e0!3m2!1spt-BR!2sbr!4v1473342683952" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>