<section id="testimonials" class="small-12 float-left" data-magellan-target="testimonials">
    <div class="mask"></div>

    <div class="row align-middle">
        <div class="columns">
            <header class="small-12 columns text-center">
                <h1 class="font-bold">Depoimentos</h1>
            </header>


            <nav id="list-testimonials" class="small-12 medium-8 columns end medium-offset-2 rel">
                <div class="row align-middle">
                    <div class="columns">
                        <ul class="no-bullet no-margin cycle-slideshow"
                            data-cycle-fx="fade"
                            data-cycle-timeout="8000"
                            data-cycle-slides="> li"
                            data-cycle-prev=".prev"
                            data-cycle-next=".next"
                        >
                            <li>
                                <p>"Recomendo a Conforte para todos aqueles que buscam uma administradora comprometida e responsável, com profissionais competentes e atenciosos!"</p>
                                <br>
                                <p class="font-light-italic no-margin"><i><strong>Bianca Antunes</strong> é síndica de um condomínio<br>no bairro dos Bancários.</i></p>
                            </li>

                            <li>
                                <p>"Além de uma empresa confiável estando conosco há mais de quatro anos, a Conforte possui excelente atendimento e é ótima no quesito resolução de problemas!"</p>
                                <br>
                                <p class="font-light-italic no-margin"><i><strong>João Paulo</strong> é síndico de um condomínio no bairro Brisamar.</i></p>
                            </li>

                            <li>
                                <p>"Administradora com pessoal sempre muito acessível e atencioso, além da rápida resolução de problemas!"</p>
                                <br>
                                <p class="font-light-italic no-margin"><i><strong>Virginia Loureiro</strong>  síndica de um condomínio no bairro dos Bancários.</i></p>
                            </li>

                            <li>
                                <p>"Recomendamos a Conforte para todos aqueles que buscam uma administradora comprometida e responsável, com profissionais competentes e atenciosos"</p>
                                <br>
                                <p class="font-light-italic no-margin"><i><strong>Antônia Anna</strong> é presidente do conselho de um condomínio no bairro de Camboinha em Cabedelo</i></p>
                            </li>

                            <li>
                                <p>"Recomendamos a Conforte Administradora, pois é nossa parceira há alguns anos, sempre nos auxiliando de maneira eficiente no processo transitório e na formalização de condomínios!"</p>
                                <br>
                                <p class="font-light-italic no-margin"><i><strong>Luís Aluísio</strong> é construtor em João Pessoa</i></p>
                            </li>
                        </ul>
                    </div>
                </div>

                <a href="#" class="nav-ttm next sprite sprite-right less-opacity"></a>
                <a href="#" class="nav-ttm prev sprite sprite-left less-opacity"></a>
            </nav>
        </div>
    </div>

</section>