<section id="testimonials" class="small-12 float-left">
    <div class="mask"></div>

    <div class="row align-middle">
        <div class="columns">
            <header class="small-12 columns text-center">
                <h1 class="font-bold">Depoimentos</h1>
            </header>


            <nav id="list-testimonials" class="small-12 medium-8 columns end medium-offset-2 rel">
                <div class="row align-middle">
                    <div class="columns">
                        <ul class="no-bullet no-margin cycle-slideshow"
                            data-cycle-fx="fade"
                            data-cycle-timeout="8000"
                            data-cycle-slides="> li"
                            data-cycle-prev=".prev"
                            data-cycle-next=".next"
                        >
                            <li>
                                <p>"Recomendo a Conforte para todos aqueles que buscam uma administradora comprometida e responsável, com profissionais competentes e atenciosos!"</p>
                                <br>
                                <p class="font-light-italic no-margin"><i><strong>Bianca Antunes</strong> é síndica de um condomínio<br>no bairro dos Bancários.</i></p>
                            </li>

                            <li>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae delectus dolor eligendi exercitationem laborum magnam modi necessitatibus neque nihil non optio, pariatur porro possimus praesentium ratione recusandae, sed suscipit?"</p>
                                <br>
                                <p class="font-light-italic no-margin"><i><strong>João</strong> é Webdesigner.</i></p>
                            </li>
                        </ul>
                    </div>
                </div>

                <a href="#" class="nav-ttm next sprite sprite-right less-opacity"></a>
                <a href="#" class="nav-ttm prev sprite sprite-left less-opacity"></a>
            </nav>
        </div>
    </div>

</section>