<footer id="footer" class="small-12 float-left">
    <div class="row">
        <div class="small-12 medium-6 columns address">
            <p>Av. Piauí, 914, Sala 102 – Bairro dos Estados - João Pessoa - PB</p>
            <p>Fones: (83) 9 8730-3334 / 9 8819-2926</p>
            <p>E-mail: contato@conforte.com.br</p>
            <p>CEP: 58030-331</p>
        </div>
        <div class="small-12 medium-6 columns">
            <p class="no-margin float-right text-right">
                <a href="#" class="d-iblock sprite sprite-Forma1"></a>
                <a href="https://www.facebook.com/Conforte-Administra%C3%A7%C3%A3o-de-Condom%C3%ADnios-Ltda-345475862210046/?fref=ts" target="_blank" title="Siga-nos no Facebook" class="d-iblock sprite sprite-face"></a>
                <a href="https://www.instagram.com/confortecondominios/" target="_blank" title="Siga-nos no Instagram" class="d-iblock sprite sprite-insta"></a><br>
                <span class="divider bottom-40"></span>
                <a href="http://www.lumenagencia.com.br/" target="_blank" title="Desenvolvido pela Lumen Comunicação">
                    <img src="{{root}}assets/img/lumen.png" alt="">
                </a>
            </p>

        </div>
    </div>
</footer>

<div class="reveal" id="chat-container" data-reveal>
    <div class="divider bottom-40"></div>
    <form id="send-anwser">
        <p class="lead text-center">Envie uma mensagem sobre vendas e aguarde nossa resposta.</p>
        <p>
            <input type="email" placeholder="Digite seu email" name="email" title="Seu email" required>
        </p>
        <p>
            <textarea name="msg" cols="30" rows="10" placeholder="Sua mensagem" required></textarea>
        </p>
        <p>
            <button class="button">Enviar</button>
        </p>
    </form>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
    f[z]=function(){
        (a.s=a.s||[]).push(arguments)};var a=f[z]._={
    },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
        f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
        0:+new Date};a.P=function(u){
        a.p[u]=new Date-a.p[0]};function s(){
        a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
        hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
        return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
        b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
        b.contentWindow[g].open()}catch(w){
        c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
        var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
        b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
    loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('4387-998-10-9549');/*]]>*/</script><noscript><a href="https://www.olark.com/site/4387-998-10-9549/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->