<footer id="footer" class="small-12 float-left">
    <div class="row">
        <div class="small-12 columns">
            <p class="no-margin float-right text-right">
                <a href="#" class="d-iblock sprite sprite-Forma1"></a>
                <a href="https://www.facebook.com/Conforte-Administra%C3%A7%C3%A3o-de-Condom%C3%ADnios-Ltda-345475862210046/?fref=ts" target="_blank" title="Siga-nos no Facebook" class="d-iblock sprite sprite-face"></a>
                <a href="https://www.instagram.com/confortecondominios/" target="_blank" title="Siga-nos no Instagram" class="d-iblock sprite sprite-insta"></a>
            </p>
        </div>
    </div>
</footer>