<footer id="footer" class="small-12 float-left">
    <div class="row">
        <div class="small-12 medium-6 columns address">
            <p>Av. Piauí, 914, Sala 102 – Bairro dos Estados - João Pessoa - PB</p>
            <p>Fones: (83) 9 8730-3334 / 9 8819-2926</p>
            <p>E-mail: contato@conforte.com.br</p>
            <p>CEP: 58030-331</p>
        </div>
        <div class="small-12 medium-6 columns">
            <p class="no-margin float-right text-right">
                <a href="#" class="d-iblock sprite sprite-Forma1"></a>
                <a href="https://www.facebook.com/Conforte-Administra%C3%A7%C3%A3o-de-Condom%C3%ADnios-Ltda-345475862210046/?fref=ts" target="_blank" title="Siga-nos no Facebook" class="d-iblock sprite sprite-face"></a>
                <a href="https://www.instagram.com/confortecondominios/" target="_blank" title="Siga-nos no Instagram" class="d-iblock sprite sprite-insta"></a>
            </p>
        </div>
    </div>
</footer>

<div class="reveal" id="chat-container" data-reveal>
    <div class="divider bottom-40"></div>
    <form id="send-anwser">
        <p class="lead text-center">Envie uma mensagem sobre vendas e aguarde nossa resposta.</p>
        <p>
            <input type="email" placeholder="Digite seu email" name="email" title="Seu email" required>
        </p>
        <p>
            <textarea name="msg" cols="30" rows="10" placeholder="Sua mensagem" required></textarea>
        </p>
        <p>
            <button class="button">Enviar</button>
        </p>
    </form>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>