<section id="chat-btn" class="">
    <a href="#" class="" title="">
        <span class="sprite sprite-chat-button"></span>
    </a>
</section>

<header id="home-header" class="small-12">
    <div class="row" id="header">
        <div class="small-12 columns">
            <figure class="float-left logo less-opacity">
                <a href="#" title="Página principal">
                    <img src="{{root}}assets/img/logo.png" alt="logo">
                </a>
            </figure>

            <h3 class="no-margin float-right">
                <a href="#" class="d-block no-margin button gradient" title="Área do cliente">
                    <span class="l">Área<br>do Cliente</span>
                </a>
            </h3>

            <nav id="main-menu" class="float-right">

                <ul class="menu no-margin">
                    <li><a href="#" title="Sobre">Sobre</a></li>
                    <li><a href="#" title="Construtoras">Construtoras</a></li>
                    <li><a href="#" title="Serviços">Serviços</a></li>
                    <li><a href="#" title="Sua Proposta">Sua Proposta</a></li>
                    <li><a href="#" title="Contato">Contato</a></li>
                </ul>
            </nav>

            <h3 class="float-right d-iblock no-margin home-button">
                <a href="#" class="" title="Página principal">
                    <span class="sprite sprite-Forma1"></span>
                </a>
            </h3>
        </div>
    </div>
</header>