<section id="chat-btn" class="">
    <a href="#" class="" title="" data-toggle="request-chat">
        <span class="sprite sprite-chat-button"></span>
    </a>

    <div class="dropdown-pane top left" id="request-chat" data-dropdown data-hover="true" data-hover-pane="true">
        <form action="" class="small-12 text-center">
            <p>
                <strong>Faça uma pergunta</strong>
                <br>Estamos aqui para ajudar
            </p>
            <input type="text" class="no-margin">
        </form>
    </div>
</section>

<header id="page-header" class="small-12 active">
    <div class="row" id="header">
        <div class="small-12 columns">
            <figure class="float-left logo less-opacity">
                <a href="#" title="Página principal">
                    <img src="{{root}}assets/img/logo.png" alt="logo">
                </a>
            </figure>

            <h3 class="no-margin float-right">
                <a href="https://www.brcondominio.com.br/br1/consulta/index.cfm" class="d-block no-margin button" title="Área do cliente" target="_blank">
                    <span class="l">Área<br>do Cliente</span>
                </a>
            </h3>

            <nav id="main-menu" class="float-right page-menu">
                <ul class="menu no-margin">
                    <li><a href="index.html" title="Sobre">Sobre</a></li>
                    <li><a href="index.html#testimonials" title="Depoimentos">Depoimentos</a></li>
                    <li><a href="index.html#construtoras" title="Construtoras">Construtoras</a></li>
                    <li class="active"><a href="index.html#servicos" title="Serviços">Serviços</a></li>
                    <li><a href="index.html#proposta" title="Sua Proposta">Sua Proposta</a></li>
                    <li><a href="#" title="Contato">Contato</a></li>
                </ul>
            </nav>

            <h3 class="float-right d-iblock no-margin home-button">
                <a href="index.html" class="" title="Página principal">
                    <span class="sprite sprite-Forma1"></span>
                </a>
            </h3>
        </div>
    </div>
</header>