
<sections id="proposta" class="small-12 float-left" data-magellan-target="proposta">
    <form id="form-proposta" class="small-12 float-left">
        <div class="row align-middle full-height">
            <div class="columns medium-text-left">
                <header class="divider bottom-20 text-center">
                    <h1 class="primary-color font-bold no-margin">
                        Sua Proposta
                    </h1>
                    <h2 class="font-bold">Você merece o melhor, você merece conforto!</h2>
                    <h4 class="font-light">Solicite aqui sua proposta sem compromisso.</h4>
                </header>

                <div class="small-12 medium-5 float-left field-group">
                    <h3 class="font-bold divider bottom-20">Dados do solicitante</h3>

                    <p>
                        <input type="text" name="nome"  placeholder="nome" title="Seu nome" required>
                    </p>

                    <p>
                        <input type="text" name="email" placeholder="email" title="Seu email" required>
                    </p>

                    <p>
                        <input type="tel" name="tel1" placeholder="telefone" title="Seu telefone" class="tele" required>
                    </p>

                    <p>
                        <input type="tel" name="tel2" placeholder="telefone 2" title="" class="tele">
                    </p>
                </div>

                <div class="small-12 medium-5 float-right field-group">
                    <h3 class="font-bold divider bottom-20">Dados do condomínio</h3>

                    <p>
                        <input type="text" name="cnome" title="Nome do condomínio" placeholder="nome do condomínio" required>
                    </p>

                    <p>
                        <input type="text" name="ctipo" title="Tipo do condomínio (vertical, horizontal)" placeholder="tipo do condomínio (vertical, horizontal)" required>
                    </p>

                    <p>
                        <input type="number" name="cunids" title="Quantidade de unidades (casas/apartamento/sala)" placeholder="quantidade de unidades" required>
                    </p>

                    <p>
                        <input type="text" name="clocal" title="Endereço do condomínio" placeholder="endereço" required>
                    </p>

                    <p>
                        <input type="text" name="ccidade" title="Cidade" placeholder="cidade" class="local float-left" required>
                        <input type="text" name="cuf" title="Estado" placeholder="estado" class="local float-right" required>
                    </p>

                    <!--<p>-->
                        <!--<input type="number" name="capts" title="Número de apartamentos" placeholder="nº de apartamentos" required>-->
                    <!--</p>-->

                    <button type="submit" class="btn-glass radius no-margin">
                        Enviar <span class="d-iblock sprite sprite-aviao"></span>
                    </button>
                </div>

                <div class="small-12 medium-5 float-right field-group"></div>
            </div>
        </div>
    </form>
</sections>

