
<sections id="proposta" class="small-12 float-left">
    <form novalidate="novalidate" id="form-proposta" class="small-12 float-left">
        <div class="row align-middle full-height">
            <div class="columns medium-text-left">
                <header class="divider bottom-20 text-center">
                    <h1 class="primary-color font-bold no-margin">
                        Sua Proposta
                    </h1>
                    <h2 class="font-bold">Você merece o melhor, você merece conforto!</h2>
                    <h4 class="font-light">Solicite aqui sua proposta sem compromisso.</h4>
                </header>

                <div class="small-12 medium-5 float-left field-group">
                    <h3 class="font-bold divider bottom-20">Dados do solicitante</h3>

                    <p>
                        <input type="text" placeholder="nome">
                    </p>

                    <p>
                        <input type="text" placeholder="email">
                    </p>

                    <p>
                        <input type="text" placeholder="telefone">
                    </p>

                    <p>
                        <input type="text" placeholder="telefone 2">
                    </p>
                </div>

                <div class="small-12 medium-5 float-right field-group">
                    <h3 class="font-bold divider bottom-20">Dados do condomínio</h3>

                    <p>
                        <input type="text" placeholder="nome do condomínio">
                    </p>

                    <p>
                        <input type="text" placeholder="tipo do condomínio (vertical, horizontal)">
                    </p>

                    <p>
                        <input type="text" placeholder="quantidade de unidades">
                    </p>

                    <p>
                        <input type="text" placeholder="endereço">
                    </p>

                    <p>
                        <input type="text" placeholder="cidade" class="local float-left">
                        <input type="text" placeholder="estado" class="local float-right">
                    </p>

                    <p>
                        <input type="text" placeholder="nº de apartamentos">
                    </p>

                    <button type="submit" class="btn-glass radius no-margin">
                        Enviar <span class="d-iblock sprite sprite-aviao"></span>
                    </button>
                </div>

                <div class="small-12 medium-5 float-right field-group"></div>
            </div>
        </div>
    </form>
</sections>

