<section id="servicos" class="small-12 float-left" data-magellan-target="servicos">
    <div class="row align-middle full-height">
        <div class="columns medium-text-left">
            <header class="divider bottom-20 text-center">
                <h1 class="primary-color font-bold no-margin">
                    Nossos Serviços
                    <span class="sprite sprite-mala d-iblock"></span>
                </h1>
            </header>

            <p>
                Na Conforte Administradora você dispõe de uma excelente assistência para administração de seu condomínio, contando com assessoria completa ao cliente e com profissionais devidamente habilitados e especializados em áreas essenciais como administração e contabilidade, além de contar com ferramentas e sistemas modernos e informatizados agilizando os processos e auxiliando na resolução de problemas.
            </p>

            <p class="divider bottom-30">
                Trabalhando sempre pautada em princípios como ética e honestidade, a Conforte conta com a confiança de seus clientes, buscando constantemente garantir a satisfação de todos e a excelência no trabalho desempenhado
            </p>

            <p class="no-margin">
                <a href="servicos.html" class="btn-glass">Saiba mais</a>
            </p>
        </div>

    </div>
</section>

<figure class="computer small-12 float-left parallax-window" data-parallax="scroll" data-image-src="{{root}}assets/img/computer.jpg" data-natural-width="100%"></figure>