<section id="servicos" class="small-12 float-left">
    <div class="row align-middle full-height">
        <div class="columns medium-text-left">
            <header class="divider bottom-20 text-center">
                <h1 class="primary-color font-bold no-margin">
                    Nossos Serviços
                    <span class="sprite sprite-mala d-iblock"></span>
                </h1>
            </header>

            <p class="divider bottom-30">
                Lorem <strong>Ipsum</strong><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis harum labore repudiandae. Aliquid corporis debitis eaque excepturi, facere fuga magnam neque nesciunt perspiciatis quae qui rerum saepe sit sunt veniam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut beatae doloribus, enim iure labore maiores mollitia nisi nobis perferendis quos reiciendis, rerum saepe sapiente tenetur veritatis voluptas voluptatibus voluptatum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, consequatur distinctio dolore illum nesciunt nisi quisquam rerum. Adipisci aperiam consequuntur itaque sed. Aliquam commodi eum pariatur sapiente tempore unde voluptas!
            </p>

            <p class="no-margin">
                <a href="servicos.html" class="btn-glass">Saiba mais</a>
            </p>
        </div>

    </div>
</section>

<figure class="computer small-12 float-left parallax-window" data-parallax="scroll" data-image-src="{{root}}assets/img/computer.jpg" data-natural-width="100%"></figure>