<section id="servicos" class="small-12 float-left" data-magellan-target="servicos">
    <div class="row align-middle full-height">
        <div class="columns medium-text-left">
            <header class="divider bottom-20 text-center">
                <h1 class="primary-color font-bold no-margin">
                    Nossos Serviços
                    <span class="sprite sprite-mala d-iblock"></span>
                </h1>
            </header>

            <p>
                Na Conforte Administradora você dispõe de uma excelente assistência para administração de seu condomínio, contando com assessoria completa ao cliente e com profissionais devidamente habilitados e especializados em áreas essenciais como administração e contabilidade, além de contar com ferramentas e sistemas modernos e informatizados agilizando os processos e auxiliando na resolução de problemas.
            </p>

            <p class="divider bottom-30">
                Trabalhando sempre pautada em princípios como ética e honestidade, a Conforte conta com a confiança de seus clientes, buscando constantemente garantir a satisfação de todos e a excelência no trabalho desempenhado
            </p>

            <!--<p class="no-margin">-->
                <!--<a href="servicos.html" class="btn-glass">Saiba mais</a>-->
            <!--</p>-->
        </div>

        <nav id="list-servicos" class="small-12 columns">
            <hr>
            <div class="divider bottom-20"></div>

            <figure class="small-12 medium-4 float-left text-center">
                <div class="row align-middle" data-toggle="example-dropdown-1">
                    <figcaption class="small-12 float-left">
                        <div class="d-iblock sprite sprite-check"></div>
                        <h5 class="text-up font-bold">LEGALIZAÇÃO DE CONDOMÍNIO
                        </h5>
                    </figcaption>
                </div>

                <div class="dropdown-pane bottom" id="example-dropdown-1" data-dropdown data-hover="true" data-hover-pane="true">
                    <p class="no-margin font-body">A Conforte está capacitada e habilitada a realizar todo o processo de legalização e formalização de condomínios. E pra isso conta com profissionais experientes.</p>
                </div>
            </figure>


            <figure class="small-12 medium-4 float-left text-center">
                <div class="row align-middle" data-toggle="example-dropdown-2">
                    <figcaption class="small-12 float-left">
                        <div class="d-iblock sprite sprite-ceo"></div>
                        <h5 class="text-up font-bold">ADMINISTRATIVO
                        </h5>
                    </figcaption>
                </div>
                <div class="dropdown-pane bottom" id="example-dropdown-2" data-dropdown data-hover="true" data-hover-pane="true">
                    <p class="no-margin font-body">Nosso setor administrativo está pronto a facilitar o aspecto organizacional do condomínio e assessorar de maneira direta a assembleia, o síndico e conselho consultivo.</p>
                </div>
            </figure>

            <figure class="small-12 medium-4 float-left text-center">
                <div class="row align-middle" data-toggle="example-dropdown-3">
                    <figcaption class="small-12 float-left">
                        <div class="d-iblock sprite sprite-user-talk"></div>
                        <h5 class="text-up font-bold">Cobrança
                        </h5>
                    </figcaption>
                </div>
                <div class="dropdown-pane bottom" id="example-dropdown-3" data-dropdown data-hover="true" data-hover-pane="true">
                    <p class="no-margin font-body">Um dos principais problemas em condomínio está concentrado no fator inadimplência / cobrança, dessa forma contamos com ferramentas de cobrança e recuperação de débitos que auxiliam e facilitam esse processo.</p>
                </div>
            </figure>

            <figure class="small-12 medium-4 float-left text-center">
                <div class="row align-middle" data-toggle="example-dropdown-4">
                    <figcaption class="small-12 float-left">
                        <div class="d-iblock sprite sprite-graphic"></div>
                        <h5 class="text-up font-bold">Financeiro
                        </h5>
                    </figcaption>
                </div>
                <div class="dropdown-pane bottom" id="example-dropdown-4" data-dropdown data-hover="true" data-hover-pane="true">
                    <p class="no-margin font-body">Estamos prontos a assessorar nossos clientes no planejamento das finanças e preparação de previsões/estimativas, além de orientar na tomada das decisões orçamentárias.</p>
                </div>
            </figure>

            <figure class="small-12 medium-4 float-left text-center">
                <div class="row align-middle" data-toggle="example-dropdown-5">
                    <figcaption class="small-12 float-left">
                        <div class="d-iblock sprite sprite-calculator"></div>
                        <h5 class="text-up font-bold">Contábil
                        </h5>
                    </figcaption>
                </div>
                <div class="dropdown-pane bottom" id="example-dropdown-5" data-dropdown data-hover="true" data-hover-pane="true">
                    <p class="no-margin font-body">A transparência e controle nas contas é essencial no processo de gestão do condomínio, sendo assim o nosso setor contábil está totalmente informatizado, garantindo agilidade e clareza nas contas e atendendo todas as exigências legais.</p>
                </div>
            </figure>

            <figure class="small-12 medium-4 float-left text-center">
                <div class="row align-middle" data-toggle="example-dropdown-6">
                    <figcaption class="small-12 float-left">
                        <div class="d-iblock sprite sprite-user"></div>
                        <h5 class="text-up font-bold">Pessoal
                        </h5>
                    </figcaption>
                </div>
                <div class="dropdown-pane bottom" id="example-dropdown-6" data-dropdown data-hover="true" data-hover-pane="true">
                    <p class="no-margin font-body">Contatamos com um setor pessoal amparado por ferramentas como banco de currículos, sistema de folha de pagamento informatizado e integrado a gestão condominial.</p>
                </div>
            </figure>

            <figure class="small-12 medium-4 float-left text-center">
                <div class="row align-middle" data-toggle="example-dropdown-7">
                    <figcaption class="small-12 float-left">
                        <div class="d-iblock sprite sprite-engine"></div>
                        <h5 class="text-up font-bold">Logística
                        </h5>
                    </figcaption>
                </div>
                <div class="dropdown-pane top" id="example-dropdown-7" data-dropdown data-hover="true" data-hover-pane="true">
                    <p class="no-margin font-body">A Conforte conta ainda com um cadastro de fornecedores voltados ao atendimento a condomínios e sistema de controles periódicos.</p>
                </div>
            </figure>

        </nav>

    </div>
</section>

<figure class="computer small-12 float-left parallax-window" data-parallax="scroll" data-image-src="{{root}}assets/img/computer.jpg" data-natural-width="100%"></figure>