<section id="sobre" class="small-12 float-left" data-magellan-target="servicos">
    <div class="row align-middle full-height">
        <div class="columns medium-text-left">
            <header class="divider bottom-20 text-center">
                <h1 class="primary-color font-bold no-margin">
                    Sobre
                </h1>
            </header>

            <p class="text-center">
                Atuando em João Pessoa e região, a Conforte é uma empresa voltada a prestação de serviços de administração de condomínios formada por profissionais capacitados e comprometidos com a excelência no que se refere à satisfação e bem estar do cliente.
            </p>

            <p class="text-center text-divider">
                Nossa empresa está pronta a oferecer total assessoria aos clientes, contando com todo suporte de sistemas informatizados voltados à gestão administrativa e contábil de condomínios.
            </p>

            <div class="small-12 columns txt-block first">
                <h3 class="primary-color text-up">Nossa missão</h3>

                <p class="gray font-light">
                    Prestar assessoria e consultoria na gestão condominial e patrimonial, provendo soluções adequadas às necessidades dos clientes, buscando sempre a satisfação de todos os envolvidos direta e indiretamente com o negócio.
                </p>
            </div>

            <div class="small-12 columns txt-block">
                <h3 class="primary-color text-up">Nossa visão</h3>

                <p class="gray font-light">
                    Ser e se manter como uma empresa de referência em sua área de atuação no que se refere à

                    prestação de serviços de assessoria e consultoria na gestão de condomínios e patrimônios,

                    dentro do conceito de excelência e satisfação total do cliente.
                </p>
            </div>

            <div class="small-12 columns txt-block">
                <h3 class="primary-color text-up">Nossos valores</h3>

                <p class="gray font-light">
                    - Ética;<br>

                    - Inovação;<br>

                    - Confiabilidade;<br>

                    - Sustentabilidade;<br>

                    - Bem estar e valorização do ser humano;<br>

                    - Excelência no atendimento especializado e na prestação de serviços.
                </p>
            </div>
        </div>

    </div>
</section>